/* SVG Editor Styles */
.rotate-handle
{
	fill : lime;
	fill-opacity : 0.3;
	stroke : #666666;
}
     
.translate-handle
{
	fill : lime;
	stroke : #666666;
	fill-opacity : 0.3;
}
      
.scale-handle
{
	stroke : #ff0000;
}
    
.path-handle
{
	stroke : #ff0000;
}
      

.select-outline
{
	stroke : #ff0000;
	fill : none;
}

.spline-handle
{
	stroke : #ff0000;
	fill : none;
}      
      
.ruler-line
{
	stroke : #0000ff;
}      
      
.ruler-text
{
	color : #ff0000;
}      


.highlight
{
   stroke: red;
   stroke-width: 9px;
   fill : none;
}



/* GeoPos Styles */
.object 
{
	cursor: pointer;
}

.layer 
{
}

.shape 
{
	/*cursor: move;*/
}

.shape.LAGEPLAN 
{
}
 
.shape.AMPELPLAN 
{
}

.shape.DETEKTORPLAN 
{
}

.shape.SPURENPLAN 
{
}

.locked
{
	
}



.selector 
{
	/*cursor: move;*/
}
 	
.unpositioned
{
	color:#f00
}