
.textarea {
  position : absolute;
  top      : 200px;
  right    : 0px;
  height   : 150px;
  width    : calc(100% - 50px);
  overflow : hidden;
}


/*
//  display    : inline-block;
//  overflow   : hidden;
*/
#textarea {
  box-sizing : border-box;
  width  : 100%;
  height : 180px;
  margin : 4px;
 }

.style-item
{
}

.style-category {
	table-layout:fixed;
    width:100%;
    height:200px;
}

.style-category.active {
  	display:visible;
}

.style-category.inactive {
  	display:none;
}


.style-category svg {
    width:80px;
    height:80px;
    display: block;
  	margin:auto;
}


.style-button {
	vertical-align: middle;
    horizontal-align: middle;
	overflow-x: hidden;
	overflow-y: hidden;
}

.style-button.active {
    border: 3px solid #20ff20;
}

.style-button.inactive {
    border: 3px solid grey;
}